:root {
    font: 0.8em sans-serif;
    box-sizing: border-box;
    background-color: rgb(233, 208, 250);
}

* {
    box-sizing: inherit;
}

header {
    background-color: rgb(159, 108, 206);
    color: black;
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
}

body {
    margin: 0% 20%;
    height: 100vh;
    background-color: white;
}

.article {
    padding: 0% 3% 3%;
    margin: 0px;
    background-color: inherit;
    font-size: 1.2rem;
}

#blood-system {
    float: left;
    margin: 0.1em;
    height: 4.4em;
}

.main-info {
    background-color: rgb(212, 169, 252);
    display: table-cell;
    border: 0px;
}

.name-info {
    background-color: rgb(159, 108, 206);
    color: black;
    margin: 0px;
    border: 0px;
    padding: 0.3em;
    font-size: 2rem;
    font-weight: 600;
}

.text-block {
    float: left;
    background-color: inherit;
    width: 50%;
    padding: 0.8rem;
}

#brain {
    width: 50%;
    display: table-cell;
}

.info {
    width: 100%;
    padding: 0.5rem;
}